body {
    margin: 0;
    padding: 0;
}

.img_main {
    width: 100px;
    height: 100px;
/*    position: relative;*/
/*    top: 100px;left: 200px;*/
}
header {
    display: inline-block;
    background: black;
    color: white;
    text-align: right;
    width: 10%;
}
header span {
    padding-right: 2em;
}

footer {
    background: #aaa;
    color:white;
    text-align: center;
    margin: 5% auto;
}